app/binaries/
Thumbs.db
ehthumbs.db
app.db
app - Copy.db
Desktop.ini
*.py[co]
*.hello
*.bat
.coverage
htmlcov
sqlite
snippets
deploying.txt
app/templates/photos/tags.html
app/static/img/sprites_google.png
logs
.elasticbeanstalk/
