{% extends "nav.html" %}

{% block title %}log on | brickr{% endblock %}

{% block content %}
    {% from "forms/macros.html" import render_field %}
    <form method="POST" action="" class="form" id="openid_form">
        <fieldset>
            <legend>Log in or create an account with OpenID</legend>
            <br />
            <div class="oid-login" onclick="$('input#openid_auto_url').val('https://www.google.com/accounts/o8/id'); $('form#openid_form').submit();" style="width: 250px; height: 30px; border: 1px solid grey; cursor: pointer">
                <span class="oid-icon"><img src="{{ url_for('static', filename = 'img/openid/google_16x16.png') }}"></span> Log in using Google
            </div>
            <br />
            <div class="oid-login" onclick="$('input#openid_auto_url').val('http://yahoo.com/'); $('form#openid_form').submit();" style="width: 250px; height: 30px; border: 1px solid grey; cursor: pointer">
                <span class="oid-icon"><img src="{{ url_for('static', filename = 'img/openid/yahoo_16x16.png') }}"></span> Log in using Yahoo
            </div>
            <!--
            <input type="text" name="openid" size="30">
            -->
            <input type="hidden" id="openid_auto_url" name="openid_auto_url" value="">
            <p>If you want to import your photos from Flickr, that happens in 
            the next account creation step.  The login info you use here doesn't matter.
            {% if config['PRODUCTION'] %}
            <br />
            <legend>Or a Brickr account:</legend>
            <br />
            {{ form.csrf_token }}
            {{ render_field(form.email, class = "input text") }}
            {{ render_field(form.password, class = "input text") }}
            <input type="hidden" name="next" value="{{ next }}">
            <br />
            <input type="submit" value="Login" class="button green">
            <div id="logon-help">
                <p><a href="">Forgot your password?</a></p>
            </div>
            {% endif %}
        </fieldset>
    </form>
{% endblock %}