{% extends "nav.html" %}
{% block content %}
    <p>Welcome {{ g.user.name }}, user #{{ session['user_id'] }}
    <p>Your Contacts:
    <div>
        <ul>
            {% for contact in user.contacts %}
            <li>
                <a href="{{ url_for('photos.stream', username = contact.getTargetUser().name) }}">{{contact.getTargetUser().name}}</a>
                - Added on {{ contact.creation_time }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <p><a href="{{ url_for('mail.inbox') }}">Your Private Messages</a>
    <p>Your favorite Photos:
    <div>
        {% for fav in user.favorites %}
            <a href="{{ url_for('photos.photo', username = fav.photo.user.name, photoID = fav.photo.id) }}">
                <p><img width="200" src="{{ url_for('binary_photo', filename = fav.photo.filename()) }}">
            </a>
        {% endfor %}
    </div>
{% endblock %}
