{% extends "nav.html" %}

{% block title %}Your Dashboard{% endblock %}

{% block nav_entries %}
  <li data-bind="visible: configureEnabled()">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Widget</a>
    <ul class="dropdown-menu" data-bind="foreach: unused_widget_list">
      <li>
        <a href="" data-bind="text: name, click: $parent.add_widget_to_dashboard_proxy"></a>
      </li>
    </ul>
  </li>
  <li>
    <a id="config_link" href="" data-bind="text: (configureEnabled() ? 'Done' : 'Configure'), click: configure"></a>
  </li>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename = 'js/dashboard.js') }}" type="text/javascript"></script>
{% endblock %}

{% block script_onload %}
  dashboardLayout = JSON.parse({{ g.user.dashboard | tojson | safe}});
  ko.applyBindings(new DashboardViewModel(dashboardLayout));
{% endblock %}

{% block content %}

  <script type="text/html" id="popupMenuTemplate">
    <li class="dashboard_config_entry" data-bind="click: callback, clickBubble: false">
      <span data-bind="text: name"></span>
      <!-- ko if: $data.hasOwnProperty('children') -->
      <span>&gt;</span>
      <div class="dashboard_config_submenu">
        <ul data-bind="template: {name: 'popupMenuTemplate', foreach: children}"></ul>
      </div>
      <!-- /ko -->
    </li>
  </script>

  <div style="position: relative; height: 100%;">
    <div id="dashboard_container" style="outline: 1px solid black; height: 1000px;">
      <div id="widget_container" data-bind="foreach: user_widget_list">
        <div class="widget" data-bind="style: {left: l, top: t, right: r, bottom: b, outline: $parent.configureEnabled() ? '3px solid grey' : ''}">
          <div data-bind="html: htmlTemplate, attr: {id: 'widget_' + id}"></div>
        </div>
        <div class="widget_ui" data-bind="visible: $parent.configureEnabled(), style: {left: l, top: t, right: r, bottom: b}">
          <div class="dashboard_btn delete" data-bind="click: $parent.delete_click, clickBubble: false"></div>
          <div class="dashboard_btn config" data-bind="click: config_click, clickBubble: false, visible: isConfigurable"></div>
          <div class="dashboard_config_menu" data-bind="if: isConfigurable">
            <ul data-bind="visible: isConfiguring, template: {name: 'popupMenuTemplate', foreach: configMenu}"></ul>
          </div>
        </div>
      </div>
    </div>
    <div id="dashboard_eventer" data-bind="visible: configureEnabled()"></div>
  </div>
{% endblock %}