/* New, works */
#header {
  z-index: 20;
  position: relative;
  height: 3em;
  opacity: .85;
  margin: 0 0 1em 0;
}

.navbar {
  background: #0d69ab;
}

.navbar .nav > li > a {
  color: white;
}

.navbar .navbar-brand {
  font-size: 24px;
  color: white;
}

.navbar .navbar-brand:hover, .navbar .nav > li > a:hover {
  color: #FF8900;
  text-decoration: underline;
}

#photo-title {
  display: inline-block;
  margin-top: 2px;
  margin-left: 1px;
  margin-bottom: 2px;
}

#photo-title-edit, #photo-desc-edit {
  background: #ffffd3;
  border-radius: 0px;
  border: 1px solid #A6A445;
}

#photo-title, #photo-title-edit {
  font-size: 2em;
  font-weight: bold;
}

#photo-desc-edit {
  margin-top: 1px;
  height: 100px;
}

.owner:hover   {
  background: #ffffd3;
}
 
#photo-actions {
  float: right;
  padding-top: 6px;
}

#photo-actions div {
  width: 28px;
  height: 28px;
  display: inline-block;
}

#user-profile-content > div {
  padding-top: 15px;
  clear: left;
}

#user-profile-avatar {
  padding-right: 15px;
  float: left;
}

#user-profile-name {
  padding-top: 40px;
}

#edit-avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(100,100,100,0.7);
  z-index: 20;
}

#edit-avatar h4 {
  text-align: center;
  margin-bottom: 20px;
}

#edit-avatar div {
  padding: 10px;
  background: white;
  position: absolute;
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -200px;
  border: 1px solid grey;
}

#edit-avatar-filename {
  position: absolute;
  margin-left: 5px;
  border: 1px solid #AAA;
  padding: 2px 4px 2px 4px;
  font-size: 14px;
  min-width: 100px;
  width: 70%;
  height: 21px;
}

#avatar-file-btn {
  display: none;
}

#avatar-cancel-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#avatar-ok-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.clickable {
  cursor: pointer;
}

.moveable {
  cursor: move;
}

input[type="checkbox"] {
  margin: 0 0 0 5px;
}

.radio, .checkbox {
  display: inline;
  min-height: 0px;
  margin-left: 10px;
}

.comment-text img {
  max-width: 100px;
  max-height: 100px;
}

a {
  color: #086FA1;
  text-decoration: none;
}

a:hover {
  color: #FF8900;
  text-decoration: underline;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 1.6em;
  font-weight: bold;
}

h4 {
  font-size: 1.4em;
  font-weight: bold;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

.small {
  font-size: .9em;
  font-weight: normal;
}

/* Main Content Layout */

#content {
  min-height: 650px;
  padding-left: 30px;
  padding-right: 30px;
}

#content-sidebar {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  padding: 0;
}

#content-interact {
  clear: both;
  margin: 1% 0 1% 1.6%;
  padding: 0; 
  width: 90%;
}

/* Multi Photo View */

#stream-nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.1em;
}

#stream-nav li {
  float: left;
  padding: 0 .2em 2em .2em;
}

#stream-nav li:after {
  content: " | ";
}

#stream-nav li:last-child:after {
  content: " ";
}

#photo-stream {
  clear: both;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#photo-stream li {
  float: left;
  padding: .2em .2em;
}

.thumb {
  padding: .2em;
}

.thumb img {
  padding: 0;
  margin: 0;
  width: 75px;
  height: 75px;
}

#single-photo-img {
  margin-left: auto;
  margin-right: auto;
}

#photo-nav-holder {
  display: inline-block;
  position: relative;
}

#single-photo-img img {
  max-height: 85%;
}

[id^=photo-nav-button] {
  display: inline-block;
  width: 0; 
  height: 0;
  opacity: 0.7;
  cursor: pointer;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

#photo-nav-button-left {
  margin-right: 10px;
  border-right: 30px solid #ccc;
}

#photo-nav-button-right {
  margin-left: 10px;
  border-left: 30px solid #ccc;
}

#photo-nav-button-left:hover {
  border-right: 30px solid #FF8900;
}

#photo-nav-button-right:hover {
  border-left: 30px solid #FF8900;
}

#note-list {
  display: none;
  position: absolute;
}

#note-eventer {
  position: absolute;
  left: 0px; top: 0px;
}

#note-eventer:hover #note-list {
  display: block;
}

.note-box {
  position: absolute;
  border: 1px dashed #FFF;
}

.selected-note {
  border: 2px solid white;
}

.note-text {
  background: #ffffd3;
  border-radius: 4px;
  padding: 5px;
  margin: 6px 3px 6px -2px;
  width: auto;
  width: -webkit-fit-content;
}

.note-text a {
  margin-left: 6px;
  font-size: 12px;
  font-style: italic;
}

.note-edit-text {
  background: #ffffd3;
  border-radius: 4px;
  padding: 5px;
  margin: 6px 3px 1px -2px;
  border: 0px;
}

.note-content {
  width: 200px;
  position: absolute;
  cursor: default;
  margin: 0px;
}

.small-button {
  font-size: 10px;
  color: white;
  opacity: 0.85;
  background: #0d69ab;
  border-radius: 4px;
  border: 0;
  margin: 0px 3px 6px -2px;
  cursor: pointer;
}

.med-button {
  font-size: 14px;
  color: white;
  opacity: 0.85;
  background: #0d69ab;
  border-radius: 3px;
  border: 0;
  padding: 3px 10px 3px 10px;
  cursor: pointer;
}

.med-button:hover {
  background: #FF8900;
}

#single-photo-info {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
}

#photo-header {
  margin-top: 10px;
}

#photo-fave {
  background: url(../img/icon_add_favorites.png) 3px 2px no-repeat;
  background-size: 85%;
}

#photo-fave.favorite {
  background: url(../img/icon_favorited.png) 3px 2px no-repeat;
  background-size: 85%;
}

#photo-share {
  background: url(../img/icon_share.png) 3px 2px no-repeat;
  background-size: 85%;
}

#photo-download {
  background: url(../img/icon_download.png) 3px 2px no-repeat;
  background-size: 85%;
}

.hr {
  margin: 25px 0;
  height: 1px;
  background: #bbb;
}

#photo-comments ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
}

#photo-comments ul  li {
  clear: both;
  padding: 8px 0px;
  overflow: auto;
}

#photo-comments ul  li.even {
  background-color: #fefefe;
}

.comments-expand {
  float: left;
  color: #999;
}

.comments-avatar {
  float: left;
  padding: 4px 8px;
  width: 60px;
}

.comments-avatar img {
  width: 40px;
  height: 40px;
}

.comments-body {
  padding: 4px;
  width: 85%;
}

.comments-content-compressed {
  padding-left: 23px;
}

.comments-body:hover  .comment-reply, .comments-body:hover  .comment-delete {
  display: inline;
}

.comment-reply, .comment-delete {
  display: none;
}

.comments-author {
  font-size: 1.2em;
  padding: 0px 0px 4px 0px;
}

.comments-date {
  color: #BBB;
  font-size: 0.9em;
  padding-left: 12px;
}

.comments-children {
  color: #BBB;
  font-size: 0.7em;
  padding-left: 12px;
}

/* Sidebar Styles */
#content-sidebar {
  float: right;
  font-size: 1em;
}

#content-sidebar .sidebar-box {
  background: #fdfdfd;
  min-height: 100px;
  min-width: 300px;
  margin: 6px 0px 20px 0px;
  -webkit-box-shadow:  1px 1px 1px 1px rgba(0,0,0,0.15);
  box-shadow:  1px 1px 1px 1px rgba(0,0,0,0.15);
}

#content-sidebar  h3 {
  font-size: 1.1em;
  margin: 10px 0px 0px 0px;
  padding: 5px;
}

#profile img {
  float: left;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#profile-meta, #single-photo-meta  {
  display: block;
  float: left;
  margin: 2px 8px;
  text-align: left;
}

#profile-meta  h3, #single-photo-meta  h3  {
  margin: 4px 0px;
  padding: 2px 0px;
}

#profile-meta ul, #single-photo-meta ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-stream {
  margin: 6px 28px;
  width: 100%;
}

#tagList ul {
  margin: 6px 15px;
  padding: 0;
  list-style-type: none;
}
 
#tagList li {
  float: left;
}
 
#tagList li + li {
  margin-left: 8px;
}
 
#tagList li div {
  display: block;
  border: 1px solid #e6e6e6;
  padding: 1px 5px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
 
#tagList li div:hover{
  background: #033E6B;
  color: #FFF;
  text-decoration: none;
}

#tagList li div a + a{
  margin-left: 2px;
}

/* Log On */
#create-account {
  margin: 10px;
}

#logon-help {
  font-size: .9em;
  float: right;
  margin: 0px 100px 10px 10px;
}

/* Buttons and Forms */

.form {
  background: #fdfdfd;
  min-height: 180px;
  width: 400px;
  border: 0;
  margin: 6px 0px 20px 0px;
  -webkit-box-shadow:  1px 1px 1px 1px rgba(0,0,0,0.15);
  box-shadow:  1px 1px 1px 1px rgba(0,0,0,0.15);
  padding: 1em;
}

.form h2 {
  font-size: 1.4em;
}

.form p {
  font-size: 1.2em;
  margin-bottom: 12px;
}

fieldset {
  border: none;
  margin: 8px 20px;
}

legend {
  font-size: 1.6em;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
}

textarea {
  width: 90%;
  height: 30%;
}
  
.button {
  color: #ffffff;
  font-size: .9em;
  letter-spacing: .2em;
  padding: 8px 20px;
  text-transform: uppercase;
  background: -moz-linear-gradient( top, #033e6b 0%, #06a2d2);
  background: -webkit-gradient( linear, left top, left bottom, from(#033e6b), to(#06a2d2));
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #0b62a4;
  -moz-box-shadow: 0px 1px 1px rgba(000,000,000,0.2), inset 0px 0px 3px rgba(255,255,255,1);
  -webkit-box-shadow: 0px 1px 1px rgba(000,000,000,0.2), inset 0px 0px 3px rgba(255,255,255,1);
  box-shadow: 0px 1px 1px rgba(000,000,000,0.2), inset 0px 0px 3px rgba(255,255,255,1);
  text-shadow: 0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
}
  
.button:hover {
  background: -moz-linear-gradient(bottom, #033e6b 0%, #06a2d2);
  background: -webkit-gradient( linear, left bottom, left top, from(#033e6b), to(#06a2d2));
}

/* Footer */
  
#footer {
  clear: both;
  border-top: 2px solid #EEE;
  height: 2em;
  width: 100%;
  opacity: .9;
  margin: 0 0 1em 0;
  padding: 0;
  bottom: 0;
  position: relative;
}

#footer p {
  color: #555555;
  float: left;
  font-size: 1em;
  margin: 0;
  padding: .2em 0;}

#footer ul{
  float: right;
  margin: 0px;
  list-style-type: none;
}

#footer a:hover {
  color: #63ADD0;
}
 
#footer li {
  display: inline;
}
 
#footer li + li {
  margin-left: 5px;
}
 
#footer li a {
  color: #909090;
  text-decoration: none;
}

#footer li:after {
  content:'\007C \0020 \0020 ';
  padding-left: 4px;
}

#footer li:last-child:after {
  content:'\0020';
}
 
#footer li a {
  color: #444;
  padding: 1px;
}

.discussion-post {
  overflow: auto;
  margin-top: 10px;
  margin-left: 10px;
}

.post-text {
  margin-left: 20px;
  margin-bottom: 5px;
}

.post-username {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-avatar {
  float: left;
  padding: 4px 8px;
  width: 60px;
  margin: 5px;
}

.post-metadata {
}

.post-avatar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:8px;
  border: 1px #DDD solid;
  -webkit-box-shadow:  1px 1px 0px 0px rgba(0,0,0,0.15);
  box-shadow:  1px 1px 0px 0px rgba(0,0,0,0.15);
  background-color: #FFF;
  width: 40px;
  height: 40px;
}

.form-field   {
  margin-bottom: 15px;
}

.flickr-form-field {
  margin-right: 5px;
}

.pad-me {
  margin-left: 5px;
  margin-right: 5px;
}

.activity-indicator {
  display: none
}

#dashboard_container {
  position: relative;
  overflow: hidden;
}

.dashboard-grid {
  border-spacing: 0px;
  table-layout: fixed;
}

.dashboard-grid td {
  margin: 0px;
  padding: 0px;
  border: 1px solid rgba(100,100,100,0.3);
  border-top-color: transparent;
  border-left-color: transparent;
}

.dashboard-grid tr:first-child td {
  border-top-color: rgba(100,100,100,0.3);
}

.dashboard-grid tr td:first-child  {
  border-left-color: rgba(100,100,100,0.3);
}

#dashboard_eventer {
  width: 100%;
  height: 100%; 
  position: absolute; 
  top: 0px; 
  left: 0px;
}

.dashboard_btn {
  width: 21px;
  height: 21px;
  opacity: .55;
  position: absolute;
  right: 5px;
  cursor: pointer;
  z-index: 10;
}

.dashboard_btn.delete {
  background: url("/static/img/sprites.png") 0 -22px;
  top: 5px;
}

.dashboard_btn.config {
  background: url("/static/img/sprites.png");
  bottom: 5px;
}

.widget {
  position: absolute;
  overflow: auto;
}
