{% extends "nav.html" %}

{% block title %}{{ group.name }} | brickr{% endblock %}

{% block script %}
{% include "fix_time.html" %}
{% endblock %}

{% block content %}
    <h2>{{ group.name }} | Add &amp; Remove Photos</h2>
    <h4>Select photos you want to add to the group</h4>
    <h5>Yes, this page is asstastic - Alyse hasn't gotten here yet.</h5>
    <form method="POST" action="" class="form" id="add_photos_form">
        <ul id="photo-stream">
        {% for photo in g.user.photos %}
            {% if photo not in group.photos %}
                <li>
                    <div class="thumb"><a href="{{ url_for('photos.photo', username = g.user.name, photoID = photo.id) }}">
                        <img width="200" src="{{ photo.url_thumb(75) }}" alt="{{ photo.title }}" title="{{ photo.title }}">
                    </a></div>
                    <input type="checkbox" name="{{ photo.id }}"/>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <input type="hidden" name="action" value="add">
        <input type="submit" value="Add to group" class="button green">
    </form>
    <br />
    <h4>Select photos to remove from the group</h4>
    <form method="POST" action="" class="form" id="remove_photos_form">
        <ul id="photo-stream">
        {% for photo in g.user.photos %}
            {% if photo in group.photos %}
                <li>
                    <div class="thumb"><a href="{{ url_for('photos.photo', username = g.user.name, photoID = photo.id) }}">
                        <img width="200" src="{{ photo.url_thumb(75) }}" alt="{{ photo.title }}" title="{{ photo.title }}">
                    </a></div>
                    <input type="checkbox" name="{{ photo.id }}"/>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <input type="hidden" name="action" value="remove">
        <input type="submit" value="Remove from group" class="button green">
    </form>
    <a href="{{ url_for('groups.group', groupURL = group.url_name) }}">Back to {{ group.name }}</a>
{% endblock %}
