{% extends "nav.html" %}

{% block title %}Groups | brickr{% endblock %}

{% block script %}
{% include "fix_time.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
    {% if g.user %}
    <h3>Groups you belong to:</h3>
    <ul>
    </ul>
    {% endif %}
    <h3>All available groups:</h3>
    <ul>
        {% for group in groups.query.all() %}
            <li><a href="{{ url_for('groups.one_group', groupURL = group.url_name) }}">{{ group.name }}</a> - <span>{{ group.members.count() }} members</span></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
