{% extends "nav.html" %}

{% block title %}{{ group.name }}{% endblock %}

{% block script %}
<script type="text/javascript">
    var group = JSON.parse({{ groupJSON | tojson | safe }});
</script>
{% include "fix_time.html" %}
{% endblock %}

{% block script_onload %}
    ko.applyBindings();
{% endblock %}

{% block content %}

    <h2 data-bind="text: group.name"></h2>
    <div>Created on <span class="convert-time">{{ group.creation_time }},LL</span></div>
    <h4>About this Group:</h4>
    <div data-bind="text: group.description"></div>
    <h4>Rules:</h4>
    <div data-bind="text: group.rules"></div>
    <h4><a href="{{ url_for('groups.member_list', groupURL = group.url_name) }}">Members:</a></h4>
    <ul>
    {% for member in group.members %}
        <li><a href="{{ url_for('photos.stream', user_url = member.url) }}">{{ member.name }}</a></li>
    {% endfor %}
    </ul>
    {% if g.user %}
        {% if g.user in group.members %}
            <a href="javascript:leaveOrJoinGroup('leave', '{{ group.name }}', {{ group.id }}, {{ g.user.id }});">Leave this Group</a>
        {% else %}
            <a href="javascript:leaveOrJoinGroup('join', '{{ group.name }}', {{ group.id }}, {{ g.user.id }});">Join this Group</a>
        {% endif %}
    {% endif %}
    <div>
        <h4><a href="{{ url_for('groups.photo_list', groupURL = group.url_name) }}">Photos</a></h4>
        <ul id="photo-stream">
        {% for photo in group.getPhotosInAddOrder() %}
            <li>
                <div class="thumb"><a href="{{ url_for('photos.photo', user_url = photo.user.url, photoID = photo.id) }}">
                    <img width="200" src="{{ photo.url_thumb(75) }}" alt="{{ photo.title }}" title="{{ photo.title }}">
                </a></div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <br /><br /><br /><br /><br /><br /><br />
    {% if g.user in group.members %}
        <a href="{{ url_for('groups.add_photos', groupURL = group.url_name) }}">Add and remove photos to this group</a>
    {% endif %}
    <div>
        <h4><a href="{{ url_for('groups.discussion_list', groupURL = group.url_name) }}">Discussions</a></h4>
        <ul>
        {% for discussion in group.discussions %}
            <li><a href="{{ url_for('groups.discussion', groupURL = group.url_name, discussionID = discussion.id) }}">{{ discussion.title }}</a></li>
        {% endfor %}
        </ul>
        {% if g.user in group.members %}
            <p><a href="{{ url_for('groups.createDiscussion', groupURL = group.url_name) }}">Post a new Topic</a></p>
        {% endif %}
    </div>
    {% if g.user in group.members %}
        <p><a href="{{ url_for('groups.delete_group', groupURL = group.url_name) }}">Delete this group (NYI)</a></p>
    {% endif %}
    <a href="{{ url_for('groups.root') }}">Back to Group Index</a>

{% endblock %}
