{% extends "nav.html" %}

{% block title %}{{ photo.title }} by {{ photo.user.name }} | brickr{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename = 'js/PhotoViewModel.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename = 'js/add_note.js') }}" type="text/javascript"></script>
  {% include "fix_time.html" %}
  <script type="text/javascript">
    var photo = JSON.parse({{ photoJSON | tojson | safe }});
    window.__photoID = photo.id;
    window.__userID = "{{ g.user.id or 0 }}";
  </script>
{% endblock %}

{% block script_onload %}
  ko.applyBindings(new PhotoViewModel(photo));
{% endblock %}

{% block content %}
  {% set isPhotoOwner = g.user and photo.user.id == g.user.id %}
  <div id="photo-header">
    {% if isPhotoOwner %}
      <div id="photo-title" class="owner" data-bind="visible: !isEditing(), click: edit, text: title"></div>
      <input id="photo-title-edit" type="text" data-bind="visible: isEditing(), value: title" />
    {% else %}
      <div id="photo-title" data-bind="text: photo.title"></div>
    {% endif %}
    <div id="photo-actions">
      <div id="photo-fave" data-bind="css: { favorite: favorite }, click: changeFavorite"
          {% if g.user %}
            class="clickable"
            {% if g.user.isFavorited(photo) %}
              title="Remove from Favorites"
            {% else %}
              title="Add to Favorites"
            {% endif %} 
          {% else %}
            title="Favorites"
          {% endif %}
        ></div>
        <div id="photo-share" title="Share photo (NYI)"><a href="" title="Share photo (NYI)"></a></div>
        <div id="photo-download" title="Download photo (NYI)"><a href="" title="Download photo (NYI)"></a></div>
    </div>
  </div>

  <div id="single-photo-nav">
    <div id="single-photo-img">
      <a data-bind="visible: photo.prev_photo_url, attr: {href: photo.prev_photo_url}"><div id="photo-nav-button-left" title="Previous Photo"></div></a>
      <div id="photo-nav-holder">
        <div id="photo-holder">
          <img id="the-actual-photo" data-bind="attr: {src: photo.url, alt: photo.title, title: photo.title}">
        </div>
        <div id="note-eventer">
            <div id="note-list">
                {% for note in photo.getNotesInZOrder() %}
                <div id="{{ note.id }}" class="note-box" data-brickr-userid="{{ note.user_id }}" data-brickr-coords="{{ note.coords() }}">
                    <div class="note-content">
                        <div class="note-text">
                          <div>{{ note.comment }}</div>
                          <div><a href="{{ url_for('photos.stream', user_url = note.user.url) }}">{{ note.user.name }}</a></div>
                        </div>
                        <textarea class="note-edit-text" rows="5" placeholder="New Note" aria-label="New Note">{{ note.comment }}</textarea>
                        <div class="note-buttons">
                            <input type="button" class="note-save-button small-button" value = "SAVE" />
                            <input type="button" class="note-cancel-button small-button" value = "CANCEL" />
                            <input type="button" class="note-delete-button small-button" value = "DELETE" />
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- This dummy is duplicated when user creates new notes.  Make sure its DOM stays in sync with real note def above -->
        <div id="dummy-note-placeholder" class="note-box" style="display: none">
          <div class="note-content">
            <div class="note-text"></div>
            <textarea class="note-edit-text"></textarea>
            <div class="note-buttons">
              <input type="button" class="note-save-button small-button" value="SAVE" />
              <input type="button" class="note-cancel-button small-button" value="CANCEL" />
              <input type="button" class="note-delete-button small-button" value="DELETE" />
            </div>
          </div>
        </div>
      </div>
      <a data-bind="visible: photo.next_photo_url, attr: {href: photo.next_photo_url}"><div id="photo-nav-button-right" title="Next Photo"></div></a>
    </div>
  </div>
  
  <div id="single-photo-info">
    {% if isPhotoOwner %}
      <div id="photo-desc" class="owner" data-bind="visible: !isEditing(), click: edit, text: description"></div>
      <textarea id="photo-desc-edit" data-bind="visible: isEditing(), value: description"></textarea>
      <div class="photo-text-buttons" data-bind="visible: isEditing()">
        <input type="button" class="save-button small-button" value="SAVE" data-bind="click: saveEdit"/>
        <input type="button" class="cancel-button small-button" value="CANCEL" data-bind="click: cancelEdit"/>
      </div>
    {% else %}
      <div data-bind="text: photo.description"></div>
    {% endif %}
  </div>

  <div id="content-sidebar">

    <div id="profile" class="sidebar-box">
      <img src="{{ url_for('static', filename = 'img/avatar.jpg') }}" alt="" title="" border="0" width="100" height="100">
      <div id="single-photo-meta">
        <h3><a data-bind="text: photo.user.name, attr: {href: photo.user.profile_url}"></a></h3>
        <ul>
          <li data-bind="text: photo.views + ' Views'"></li>
          <li>Taken on <span data-bind="text: moment.utc(photo.creation_time).format('LL')"></span></li>
        </ul>
      </div>
    </div>

    <div id="quick-photostream" class="sidebar-box">
      <h3><a href="{{url_for('photos.stream', user_url = photo.user.url)}}">{{ photo.user.name }}'s photosteam</a> <span class="small">({{ photo.user.photos.count()}})</span></h3>
      <div class="slider-stream">
        {% for p in photo.getAdjacentPhotoStream(4) %}
          {% if p %}
            <a href="{{ url_for('photos.photo', user_url = p.user.url, photoID = p.id) }}">
              <img src="{{ p.url_thumb(75) }}" alt="{{ p.title }}" title="{{ p.title }}" border="0" height="55" width="55" />
            </a>
          {% else %}
            <img src="{{ url_for('static', filename = 'img/avatar.jpg') }}" alt="" title="" border="0" height="55" width="55" />
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- ko if: groups().length -->
    <div id="single-groups" class="sidebar-box">
      <h3>Also in</h3>
      <ul data-bind="foreach: groups">
        <li><a data-bind="text: name, attr: {href: url}"></a></li>
      </ul>
    </div>
    <!-- /ko -->

    <div id="tagList" class="sidebar-box">
      <h3>Tags
      {% if isPhotoOwner %}
        <span class="small" id="addTagLink">(<a href="javascript:$('input#tagBox').show().focus();$('span#addTagLink').hide();">add a tag</a>)</span>
      {% endif %}
      </h3>
      <ul id="tags" data-bind="foreach: tags">
        <li><div>
          <a data-bind="text: desc, attr: {href: '/photos/' + photo.user_url + '/tags/' + url + '/'}"></a>
          {% if isPhotoOwner %} <a href="#" data-bind="click: $parent.removeTag">x</a> {% endif %}
        </div></li>
      </ul>
      <br /><br />
      <input type="text" id="tagBox" style="display: none" data-bind="event: {keypress: addTag}">
    </div>
    
    {% if isPhotoOwner %}
        <a href="{{ url_for('photos.delete', photoID = photo.id) }}" onclick="return confirm('Do you really want to delete this photo?');">Delete this Photo</a>
    {% endif %}
  </div>  <!-- /content-sidebar -->

  <div id="content-interact">

    <!-- ko if: favorites().length -->
    <div id="photo-favorites">
      <div class="hr"></div>
      <div data-bind="html: favoriteNameList('<a href=user_url>user_name</a>')"></div>
    </div>
    <!-- /ko -->

    <!-- ko if: comments().length -->
    <div id="photo-comments">
      <div class="hr"></div>
      <h3>Comments:</h3>
      <ul data-bind="foreach: comments">
        <li>
          <div class="comments-avatar">
            <a data-bind="attr: {href: user_url}">
              <img src="/static/img/avatar.jpg" alt="" title="" border="0" height="36" width="36">
            </a>
          </div>
          <div class="comments-body" onmouseover="$('.deleteComment', this).show()" onmouseout="$('.deleteComment', this).hide()">
            <div class="comments-author">
              <a data-bind="text: user_name, attr: {href: user_url}"></a>
              <span class="small comments-date"><span data-bind="text: moment.utc(time).fromNow()"></span></span>
              {% if isPhotoOwner %}<a href="" class="deleteComment" data-bind="click: $parent.deleteComment">delete</a>{% endif %}
            </div>
            <div class="comment-text" data-bind="text: comment"></div>
          </div>
        </li>
      </ul>
    </div>
    <!-- /ko -->

    {% if g.user %}
    <div id="photo-add-comment">
      <div class="hr"></div>
      <h3>Add a Comment</h3>
      <textarea id="comment" name="comment" rows="6" placeholder="Add a comment" aria-label="Add a comment" data-bind="value: newComment"></textarea>
      <input type="submit" value="Submit" class="button" data-bind="click: addComment">
    </div>
   {% endif %}
  </div>  <!-- /content-interact -->
{% endblock %}
