{% extends "nav.html" %}

{% block script %}
{% include "fix_time.html" %}
{% endblock %}

{% block content %}
    {% if user %}    
    <div id="content-main">
        <h2>{{ user.name }}'s photos</h2>
        <ul id="stream-nav">
            <li><a href="">Sets</a></li>
            <li><a href="">Collections</a></li>
            <li><a href="">Archive</a></li>
            <li><a href="">Profile</a></li>
        </ul>
        <ul id="photo-stream">
        {% for photo in photos %}
            <li>
                <div class="thumb"><a href="{{ url_for('photos.photo', user_url = user.url, photoID = photo.id) }}">
                    <img src="{{ photo.url_thumb(75) }}" alt="{{ photo.title }}" title="{{ photo.title }}">
                </a></div>
            </li>
        {% endfor %}
        </ul>
    </div>
    
    <div id="content-sidebar">
        <div id="profile" class="sidebar-box">
            <img src="{{ url_for('static', filename = 'img/avatar.jpg') }}" alt="" title="" border="0" width="100" height="100">
            <div id="profile-meta">
                <h3>{{ user.name }}</h3>
                
                <ul>
                    <li>Member since <span class="convert-time">{{ user.creation_time }},LL</span></li>
                    <li>{{ user.photos.count() }} photos</li>
                    <li>location</li>
                    <li>facebook/twitter/web</li>
                    <li>more...</li>
                </ul>            
            </div>
        </div>
        
        {% if user and g.user %}
            <div id="actions">
            {% if user.name == g.user.name %}
                <a href="{{ url_for('photos.upload') }}"><input type="submit" value="Upload new Photos" class="button green" /></a>
                {% if user.flickr_auth %}
                <br /><br />
                <p>To try out Flickr Import, enter the ID# for a photo you own in the box below and click 'Import Flickr Photo'
                <p>A photo's ID is the string of numbers after your screen name in the photo's URL. 
                <p>eg: Photo ID 9110992136<br /><a href="http://www.flickr.com/photos/boltofblue/9110992136/">http://www.flickr.com/photos/boltofblue/9110992136/</a>
                <input id="flickr-photo-id" type="text" class="flickr-form-field">
                <a href="javascript:importFromFlickr();">
                    <input type="submit" value="Import Flickr Photo" class="small-button pad-me" />
                </a>
                <img class="activity-indicator" width="20px" src="{{ url_for('static', filename = 'img/activity_indicator.gif') }}">
                <p>This is just for fun &amp; testing.  Obviously you won't have to do this to import all your photos!  Try photos with a lot of comments / notes / favs - everything should be imported
                {% endif %}
            {% else %}
                <span id="remove_contact" style="visibility:{% if g.user.isUserInContactList(user) %}inline{% else %}hidden{% endif %};">
                    {{ user.name }} is a Contact. <input class="button" type="submit" value="Remove" onclick="removeContact({{ user.id }}, '{{ user.name }}');" id="remove-contact" />
                </span>
                <span id="add_contact" style="visibility:{% if not g.user.isUserInContactList(user) %}inline{% else %}hidden{% endif %};">
                    <input class="button" type="submit" onclick="addContact({{ user.id }}, '{{ user.name }}');" id="add-contact" value="Add {{ user.name }} as a Contact" />
                </span>
            {% endif %}
            </div>
        {% endif %}
    </div>
    
    {% else %}
        {% if photos %}
            <h3>Some recently uploaded photos:</h3>
            <ul id="photo-stream">
            {% for photo in photos.query.order_by('id desc')[:5] %}
                <li>
                    <div class="thumb"><a href="{{ url_for('photos.photo', user_url = photo.user.url, photoID = photo.id) }}">
                        <img width="200" src="{{ photo.url_thumb(75) }}" alt="{{ photo.title }}" title="{{ photo.title }}">
                    </a></div>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
