{% extends "nav.html" %}

{% block script %}
{% include "fix_time.html" %}
{% endblock %}

{% block content %}
    {% if user and g.user %}
        {% if user.name == g.user.name %}
            <a href="{{ url_for('photos.upload') }}">Upload new Photos</a>
        {% else %}
            <div id="contact-form">
                {% if g.user.isUserInContactList(user) %}
                    {{ user.name }} is a Contact. <input type="submit" value="Remove" onclick="removeContact({{ user.id }}, '{{ user.name }}');" id="remove-contact"></input>
                {% else %}
                    <input type="submit" onclick="addContact({{ user.id }}, '{{ user.name }}');" id="add-contact" value="Add {{ user.name }} as a Contact"></input>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    {% if user %}
        <p>{{ user.name }}'s photo stream
        {% for photo in photos %}
            <a href="{{ url_for('photos.photo', username = user.name, photoID = photo.id) }}">
                <p><img width="200" src="{{ url_for('binary_photo', filename = photo.filename()) }}">
            </a>
        {% endfor %}
    {% else %}
        <p>This is the photo view when no user is selected.
        {% if users %}
            <p>A list of all registered users:
            <ul>
            {% for user in users.query.all() %}
                <li><a href="{{ url_for('photos.stream', username = user.name) }}">{{ user.name }}</a> - Joined on <span class="convert-time">{{ user.creation_time }},LL</span></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}