{% extends "base.html" %}
{% block header %}
<div class="container">
    <h1 class="logo"><a href="{{ url_for('index') }}">brickr</a></h1>
    <nav>
        <ul class="menu">
            <li><a href="{{ url_for('users.root') }}">Users</a></li>
            <li><a href="{{ url_for('photos.root') }}">Photos</a></li>
            <li><a href="{{ url_for('groups.root') }}">Groups</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            {% if session['openid'] or session['user_id'] and g.user %}
            <li><a href="{{ url_for('users.home') }}">Profile</a></li>
            <li><a href="{{ url_for('mail.inbox') }}">Mail {% if g.user.unread_pm_count() %}({{ g.user.unread_pm_count() }}){% endif %}</a></li>
            <li><a href="{{ url_for('users.logout') }}">Logout {{ g.user.name }}</a></li>
            {% else %}
            <li><a href="{{ url_for('users.login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
