{% extends "base.html" %}
{% block header %}
<nav>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a href="{{ url_for('index') }}">brickr</a>
  </div>
  <div class="navbar-content">
    <ul>
      <li><a href="{{ url_for('users.root') }}">Users</a></li>
      <li><a href="{{ url_for('photos.root') }}">Photos</a></li>
      <li><a href="{{ url_for('groups.root') }}">Groups</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
      {% if session['openid'] or session['user_id'] and g.user %}
      <li><a href="{{ url_for('users.profile', user_url = g.user.url) }}">Profile</a></li>
      <li><a href="{{ url_for('mail.inbox') }}">Mail {% if g.user and g.user.unread_pm_count() %}({{ g.user.unread_pm_count() }}){% endif %}</a></li>
      <li><a href="{{ url_for('users.logout') }}">Logout {{ g.user.name }}</a></li>
      {% else %}
      <li><a href="{{ url_for('users.login') }}">Login</a></li>
      {% endif %}
      {% block nav_entries %}
      {% endblock %}
      <li>
        <form class="navbar-form navbar-left">
          <input type="text" class="form-control" placeholder="Search">
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block footer %}
<div id="footer">
  <p>Any rights info. Copyright etc. All rights reserved.</p>
  <ul>
    <li><a href="/terms">Terms of Use</a></li>
    <li><a href="/privacy">Privacy Policy</a></li>
    <li><a href="/copyright">Copyright/IP Policy</a></li>
  </ul>
</div>
{% endblock %}